[client]
default-character-set=utf8mb4

[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
innodb-use-native-aio=0
log_error=/var/log/mysql-error.log
general_log_file=/var/log/mysql-general.log
general_log=1
slow_query_log_file=/var/log/mysql-slow.log
slow_query_log=1
long_query_time=2

# master/slave
server-id=1
# binary-log
log-bin
binlog-format=row
gtid_mode=ON
enforce_gtid_consistency=ON